<h1>Новый пользователь</h1>
<%= form_for @user do |form| %>
<p>
  <label for="user[name]">Имя</label>
  <%= form.text_field :name %>
</p>
<p>
  <label for="user[name]">Пароль</label>
  <%= form.password_field :password %>
</p>
<p>
  <%= form.submit "Создать" %>
</p>
<% end %>
