/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
  font-family: monospace;
}
#new_user label, #new_task label, #user_sign_in label, #users_list label, #tasks_list label, .edit_user label, .edit_task label {
  width: 100px;
  display: inline-block;
  vertical-align: top;
}
#new_task input[type=checkbox], .edit_task input[type=checkbox], #new_user input[type=checkbox], .edit_user input[type=checkbox] {
  margin: 0;
}
#users_list > .user {
  background-color: #eee;
  padding: 5px;
  border: 1px solid #ddd;
  padding: 4px;
  margin-bottom: 4px;
}
#tasks_list > .task {
  background-color: #eee;
  padding: 5px;
  border: 1px solid #ddd;
  padding: 4px;
  margin-bottom: 4px;
}
div.error, div.notice {
  background-color: #eee;
  border: 1px solid #ddd;
  padding: 10px;
  font-weight: bold;
}
div.error {
  color: red;
}
div.notice {
  color: green;
}
#menu {
  list-style: none;
  padding: 0;
}
#menu > li {
  display: inline;
}
#menu > li > form {
  position: relative;
  display: inline;
}
#users_list > .user > .button_to {
  float: right;
  display: none;
}
#users_list > .user:hover > .button_to {
  display: block;
}
#tasks_list > .task > .button_to {
  display: inline;
  float: right;
  display: none;
}
#tasks_list > .task:hover > .button_to {
  display: block;
}
.button_to {
  display: inline;
}